fastapi
boto3
pydantic
pydantic[email]
uvicorn
python-dotenv
python-multipart
ksuid
aws-xray-sdk
pytz
requests
openai
httpx
google-auth
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
python-docx
aiofiles
aiohttp